<style>
    body, html {
      height: 100%;
      width:100%;
      min-width:100%;
      max-width:100;
      position:absolute;
      z-index:-10;
    }
    .bg {
      background-image: url("./assets/images/Candle1.jpg");
  
      height: 100%;
  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <body>
      <div class="bg">
  
  
    
          <div class='container'>
              <router-outlet></router-outlet>
          </div>
       </div>
  </body>