
 <!--   <nav id="nav" class="navbar fixed-top navbar-toggleable-sm" data-spy="affix">
            <div class="container"> <a href="#" class="navbar-brand">Inspirations Divine</a>
                <a class="navbar-toggler float-right hidden-md-up" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
            </div>
        </nav> -->
  
       <div class="popup">
              <link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
                <style>
                        h1 {
                        font-family: 'Great Vibes';
                        font-size: 8em;
                        color:mistyrose
                      }
                      </style>
                      <div class ="main-div">
                      <h1> Inspirations.Divine.</h1>
                    </div>
               <div class="wrapper">
          
                            <section role="navigation">
                                    <nav class="navbar navbar-toggleable-md navbar bg-transparent fixed-top "><!-- navbar-inverse -->
                                  
                                      <div class="container">
                                  
                                        <button class="navbar-toggler pull-right navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavigation" aria-controls="myNavigation" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                        </button>
                                  
                                        <a href="#" class="navbar-brand"></a>
                                  
                                        <div class="collapse navbar-collapse" id="myNavigation">
                                            <div class="navbar-nav navbar-custom">
                                              <a class="p-3 nav-item nav-link active navbar-custom" href="#">Register</a>
                                              <a class="p-3 nav-item nav-link navbar-custom " href="#">About</a>
                                              <a class="p-3 nav-item nav-link navbar-custom" href="#">Contact</a>
                                            </div><!-- <div class="navbar-nav"> -->
                                        </div><!-- <div class="collapse navbar-collapse"> -->
                                  
                                      </div><!-- <div class="container"> -->
                                  
                                    </nav>
                                  </section> 

                <!--  </div>
              </div> -->

            

